@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,400;1,200;1,900&display=swap');



/* Variables */
:root {
    --font-brand: Tangerine, serif;
    --font-family:Taviraj, serif;
    --normal-font: 200;
    --bold-font: 400;
    --bolder-font: 900;
    --bg-color: #eae7dc;
    --bg-nav: #f2ece6;
    --bg-more-about: #f7f4f0;  
    --hero-color: #010b13;
    --default-text-color: #1164b4;
    --brand-size: 40px;
    --brand-color: #080808;
    --subscript: 15px;
    --primary-color: #e98074;
    --secondary-color: #e85A4f;
    --tertiary-color: #d8c3a5;
    --primary-shadow: rgb(0, 0, 0, 0.1);
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--bold-font);
}

a:hover {
    color: var(--secondary-shadow);
    cursor: pointer;
}

.bio-title {
    color: var(--brand-color);
}

nav span {
    font-family: var(--font-brand);
    font-weight: var(--bolder-font);
    font-size: var(--subscript);
    padding-right: 10px;
    color: var(--brand-color);
}

nav span b {
    padding-right: 1rem;
    font-size: var(--brand-size);
}
nav {
    padding: 1.5rem 1rem;
}
body {
    color: var(--default-text-color);
    font-family: var(--font-family);
    background-color: var(--tertiary-color);
}


html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-nav);
    box-shadow: 0 3px 5px var(--primary-shadow);
}

nav a {
    color: var(--secondary-shadow);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    cursor: pointer;
    display: none;
}

/* #about {
    color: var(--hero-color2);
} */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 33.5rem;
    width: 33.5rem;
    border-radius: 15%;
}

p.bio-text::first-letter, p.more-about-text::first-letter {
    font-size: 150%;
}
.bio {
    width: 25rem;
    padding: 0.625rem;
    box-shadow: 0px 2px 15px 2px var(--primary-color);
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: #f4f2ef;
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-header {
    margin-bottom: 1rem;
}

.skills-wrapper {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 5px 10px var(--primary-color);
    margin: 10px;
    padding: 20px;
    background-color: var(--default-text-color);
}

.projects {
    background-color: #f4f2ef;
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 10rem;
    height: 12rem;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-color);
    padding: 20px;
    margin: 10px;
}

.contact {
    margin-top: 2rem;
  }
  
#contact h2 {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}
  
.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--default-text-color);
}
  
.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}
  
.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--default-text-color);
    font-size: 0.875rem;
    outline: none;
    padding-left: 0.5rem;
}

.input-field::placeholder {
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}
  
.socicon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.socicon:hover {
    box-shadow: 0 0 12px var(--primary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    background-color: var(--tertiary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

.second-set {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1; /* default layer */
}


.icon-card:hover {
    transform: scale(2.5);
    box-shadow: 0 0 12px var(--primary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
